.content {
	min-height: 120vh;
	background: rgb(14, 11, 173);
}

a {
	text-decoration: none;
	color: #fff;
}
.box-img {
	min-width: 600px;
	max-width: 600px;
	height: 400px;
	position: relative;
	right: 140px;
}

.dws-wrapper {
	max-height: 400px;
	min-width: 4000px;
}

.desc {
	position: relative;
	left: 460px;
	max-width: 600px;
	min-height: 400px;
	bottom: 404px;
	background: rgb(14, 11, 173);
	color: #fff;
}

.desc h1, h2, h3, h4, h5, h6, p {
	padding: 15px;
}

.list-menu li {
	list-style: none;
	padding: 0 15px 0 15px;
}

.list-menu li:first-child {
	padding-top: 15px;
}

.list-menu li:last-child {
	padding-bottom: 15px;
}

.desc.left {
	position: relative;
	left: -140px;
	margin-bottom: 0px;
	margin-top: 4px;
	min-width: 400px;
	min-height: 400px;
	color: #fff;
	background: rgb(30, 29, 88);
}

.box-img.left {
	position: relative;
	left: 460px;
	display: flex;
}