a {
	text-decoration: none;
	color: #fff;
}

.box-img {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	width: 500px;
	height: 300px;
	border: 5px solid #b7bab7;
	overflow: hidden;
}

.box-img img {
	height: 300px;
	width: 500px;
}

.dws-wrapper {
	position: relative;
	top: 160px;
	display: flex;
	align-items: center;
	left: 8%;	
	padding-top: 20px;
	transform: translate(-50%, -50%);
}

.text {
	position: absolute;
	top: 20%;
	color: #ffffff;
	text-align: center;
}

a.bt {
	position: absolute;
	left: 160px;
	top: 170px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 30px;
	opacity: 0;
	overflow: hidden;
	transition: 0.2s ease-in-out;
	background: #22b80e;
}

a.bt:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -75px;
	height: 50px;
	width: 50px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.5)
	);
	transform: skewX(-45deg);
}

a.bt:hover:before {
	left: 150px;
	transition: 0.5s ease-in-out;
}

a.bt {
	overflow: hidden;
}

a.bt:active {
	border: 2px solid #b3b3b3;
}

.box-img img {
	transition: 0.5s;
}

.text {
	z-index: 1;
}

.box-img:hover a.bt {
	opacity: 1;
	transition: 0.5s;
}	

@media (max-width: 510px) {
	.content {
		height: auto;
	}

	.dws-wrapper:first-child,
	.dws-wrapper:last-child {
		padding: 0;
	}

	.dws-wrapper:nth-child(2) {
		margin-top: -40px;
	}
	
	.dws-wrapper {
		height: 200px;
		width: 250px;
		left: -200px;
		padding-top: 320px;
	}

	a.bt {
		opacity: 1;
	}

	footer {
		margin-top: 140px;
	}
}